<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<form xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="ainiBlockForm" xsi:noNamespaceSchemaLocation="http://scheme.cf.linedata.com/function.xsd" fatherId="{{ father_id }}" beanId="ainiFormService">
    <graphic><headerVisible>false</headerVisible><collapsible>false</collapsible><collapsed>false</collapsed></graphic>

    <fieldLinks>
        {% for link in fieldLinks %}
        <fieldLink childFieldId="{{ link.childFieldId }}" id="{{ link.id }}" methodName="{{ link.methodName }}" nature="{{ link.nature }}" disabled="false" beanId="{{ link.beanId }}FieldLinkService">
            {% for father in link.fatherFieldIds %}
            <fieldLinkFather fatherFieldId="{{ father }}" />
            {% endfor %}
        </fieldLink>
        {% endfor %}
    </fieldLinks>

    <areas>
        {% set area_groups = {} %}
        {% for field in fields %}
            {% if field.area not in area_groups %}
                {% set _ = area_groups.update({field.area: []}) %}
            {% endif %}
            {% set _ = area_groups[field.area].append(field) %}
        {% endfor %}

        {% for area_name in area_groups.keys() %}
        {% set area_fields = area_groups[area_name] %}
        {% set area_sort = 1 if area_name == 'area1' else (2 if area_name == 'area3' else 3) %}
        <area id="{{ area_name }}" sortNumber="{{ area_sort }}">
            <graphic><headerVisible>false</headerVisible></graphic>
            <fields>
                {% for field in area_fields %}
                <field {% if field.id is defined %}id="{{ field.id }}" {% endif %}{% if field.id == "optionStock" %}nature="LdsComboBox" {% elif field.setWithValuesList is defined and field.setWithValuesList %}nature="lov" {% else %}nature="{{ field.nature }}" {% endif %}columnNumber="{{ field.columnNumber|default('1') }}" sortNumber="{{ field.sortNumber if area_name != 'area1' else (loop.index * 10) }}" {% if field.defaultValue is defined %}defaultValue="{{ field.defaultValue }}" {% endif %}{% if field.maxLength is defined %}maxLength="{{ field.maxLength }}" {% endif %}{% if field.readOnly is defined %}readOnly="{{ field.readOnly }}" {% endif %}{% if field.hidden is defined %}hidden="{{ field.hidden }}" {% endif %}{% if field.lov is defined %}lov="{{ field.lov }}" {% endif %}{% if field.valueField is defined %}valueField="{{ field.valueField }}" {% endif %}{% if field.setWithValuesList is defined %}setWithValuesList="{{ field.setWithValuesList }}"{% endif %}>
                    {% if field.label2 is defined %}<label>{{ field.label2 }}</label>{% elif field.label is defined %}<label>{{ field.label }}</label>{% endif %}
                    {% if field.nature == "lov" and field.filters is defined and field.filters %}
                    <filters>
                        {% for filter in field.filters %}
                        <filter id="{{ filter.id }}" fieldId="{{ filter.fieldId }}" />
                        {% endfor %}
                    </filters>
                    {% endif %}
                </field>
                {% endfor %}
            </fields>
        </area>
        {% endfor %}

        {% if 'area2' not in area_groups.keys() %}
        <area id="area2" sortNumber="3">
            <fields>
                <field id="csoPanel" nature="string" sortNumber="1" columnNumber="1"><label>CSO Panel</label></field>
                <field id="csoOption" nature="LdsComboBox" sortNumber="2" columnNumber="1"><label>Option CSO</label></field>
            </fields>
        </area>
        {% endif %}

        {% if 'area3' not in area_groups.keys() %}
        <area id="area3" sortNumber="2">
            <fields>
                <field id="valeurPanel" nature="string" sortNumber="1" columnNumber="1"><label>Valeur Panel</label></field>
                <field id="valeurOption" nature="lov" sortNumber="2" columnNumber="1" setWithValuesList="true">
                    <label>Option Valeur</label>
                    <filters>
                        <filter id="filter1" fieldId="valeurFilter1" />
                        <filter id="filter2" fieldId="valeurFilter2" />
                    </filters>
                </field>
            </fields>
        </area>
        {% endif %}
    </areas>
</form>